BASE_PATH=/llm4bi

# Defines the number of iteration for a test
ITERATIONS=5
SAVE_TO_DB=False

# Defines the number of retries for a question if an error occurs
MAX_RETRIES_X_QUESTION=3
# Defines the questions to be excluded from the test. If empty, all questions will be evaluated.
EXCLUDED_QUESTIONS=
# Defines the questions to be included in the test, if only two are specified, they will be the only ones evaluated. If empty, all questions will be included.
INCLUDED_QUESTIONS=
# Defines the versions of the KG, Ontology and Prompts to be used in the test. Multiple versions can be specified separated by commas, e.g. "0,1" for KG_VERSIONS will use both version 0 and 1 of the KG.
KG_VERSIONS=0,1,2
ONTOLOGY_VERSIONS=0,1
PROMPT_VERSIONS=1
# Defines the test ID, if not specified, a random UUID will be generated. This can be used to group different test runs together.
TEST_ID="FULL_NEW"